body{
    font-family: "Quicksand", sans-serif;
    margin: 0px;
    background-color: rgb(202, 215, 252) ;
}


.cabeçalho{
    display: block;
    justify-content: left;
    background-color: rgb(255, 255, 255);
    border: solid white 2px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.nav{
    margin: 0px;
    display: inline-block;
    font-weight: bold;
}
.Titulo{
    font-family: "Momo Trust Display", sans-serif;
    font-size: 75px;
    margin: 0px;
    padding-top: 20px;
    font-style: italic;;
}
a{
    margin: 0px;
    text-decoration: none;
    color: black;
}
.ttlo1{
    margin-left: 50px;
    display: block;
    justify-self: left;
    text-align: center;
    background-color: white;
    border: solid white 30px;
    border-radius: 20px;
}
.produtos{
    margin: 40px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 30px;
}
.box-produtos{
    text-align: center;
    background-color: white;
    border: solid white 2px;
    border-radius: 20px;
    padding: 20px
}