body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: snow;
    margin: 0px;
}

.titulo{
    font-size: 75px;
    text-align: center;
    padding: 10px;
    border-bottom: solid black 2px;
}

.section{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.425);
}
.allsection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.img2{
    box-shadow: 10px 10px 10px rgb(0, 0, 0)
}
.img1{
    box-shadow: 10px 10px 0px rgb(0, 0, 0)
}

p{
    font-size: large;
}